///////////VARIABLES/////////////////////////

$ink:#062F4F;
$myWhite:#F8F8F2;
$charcoal:#373737;
$gold: #C0B283;
$blush: #EB8080;
$eggplant: #49274A;
$aluminium: #D9D9D9;

///////////////@MEDIA/////////////////////////
@media only screen and (min-width : 1350px) {
  .glyph-sample{
  	font-size: 60px !important;
  }
  .icons{
	width: 40% !important;
	margin: auto;
  }	
} 
@media only screen and (max-width: 789px){
  #contact{
  	margin: auto !important;
  }
  footer{
  	padding: 0 !important;
  }
  .hero-filter{
  	margin: auto;
  }
}
@media only screen and (max-width : 450px) {
  #hero-box{
  	width: 78% !important;
  }
  .hero-filter{
  	div, p{
		font-size: 14px !important;
	}
	h4{
		font-size: 20px !important;
	}
	margin: auto;
  }
  .glyph-sample{
  	font-size: 40px !important;
  }
  .icons{
	width: 90% !important;
  }
  #contact{
  	margin: auto !important;
  }
  .contact-icon{
	font-size: 20px; 
	color:white;
	margin: 10px;
  }
  footer{
  	padding: 0 !important;
  }
  #hype{
  	font-size: 12px;
  }

}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  nav .brand-logo{
  	font-size: 1.8em !important;
  }
  #mobile-demo{
	li, a{
		font-size: 40px;
		margin: 20px;
	}
  }
  #hero-box{
  	width: 78% !important;
  }
  .hero-filter{
  	div, p{
		font-size: 14px !important;
	}
	h4{
		font-size: 20px !important;
	}
  }
  .glyph-sample{
  	font-size: 40px !important;
  }
  .icons{
	width: 90% !important;
	margin: auto;
  }	
  .profile-img{
	height:140px !important;
	width:113px !important;
  }
}
/////////////////MAIN////////////////////////
header, main, footer {
  padding-left: 300px;
}
*{
	font-family: 'Barlow Semi Condensed', sans-serif;
}
.padding{
	height: 60px;
}
.x-padding{
	height: 100px;
}

body{
	background-color: #F4F4F4;
}



/////////////////NAV////////////////////////
nav{
	background-color: rgba(255,255,255,0.4);
	.nav-wrapper >a{
		color: $ink;
	}
} 
nav ul a{
	color: $ink;
}

///////////////HERO/////////////////////////
#hero-box{
	margin: auto;
	width: 60%;	
	.chip{
		background-color: $gold;
		color: $myWhite;
		font-size: 20px;
	}
}
.profile-img{
	height:160px;
	width:133px;
	margin-right: -89px;
	margin-top: 10px;
}
.hero-filter{
	background-color: rgba(255,255,255,0.4);
	padding: 30px;
	box-shadow:3px 3px 20px $aluminium;
	.chip{
		margin-top: -43px;
		margin-left: -51px;
	}
	div, p{
		font-size: 18px;
	}
	h4{
		color: $ink;
		font-size: 24px;
	}
}

blockquote{
	font-size: 17px;;
	font-style: italic;
}
#link{
	color: $blush !important;
}

p{
	a{
		color: $blush !important;
	}
}
blockquote{
	height: 100px;
}


////////////////PROJECTS///////////////////////
#projects{
	.chip{
		background-color: $gold;
		color: $myWhite;
		font-size: 20px;
	}
	h4{
		color: $ink;
	}
}
.card{
	width: 64%;
	margin: 50px auto 50px auto;
}
.card-content{
	a{
		color: $gold;
	}
	a:hover{
		color: $blush;
	}
} 
.card-title{
	color: $ink;
}

////////////////SKILLS/////////////////////////
.glyph-sample{
	// font-size: 60px;
	margin: 10px;
	color: #000;
}
.icon{
	font-size: 60px;
}
.glyph-sample:hover { 
	color: $blush;
}
.showskill{
	font-size: 2px !important;
	margin-top: -40px !important;
	color: $charcoal !important;
}
.icons{
	width: 60%;
	margin: auto;
}
.chip{
	background-color: $gold;
	color: $myWhite;
}
#dev{
	margin-left: 12px;
}
#front{
	margin-right: 12px;
}

//////////////////CONTACT/////////////////////////
#contact{
	h3{
		color: white;
	}
	// margin: auto;
}
//////////////////FOOTER///////////////////////////
.page-footer{
	background-color: $charcoal;
}
.contact-icon{
	font-size: 50px; 
	color:white;
	margin: 10px;
}
.contact-icon:hover{
	padding: -1px;
}
.grow{ 
	transition: all .2s ease-in-out; 
}
.grow:hover{
	transform: scale(1.1); 
}
.container{
	margin: 0;
}
#hype{
	a{
		color: $gold !important;
	}
}




