///////////VARIABLES/////////////////////////

$myPink: #F92672;
$myYellow:#FFE792; 
$myBlue:#66D9EF;
$myGreen:#A6E22E;
$myOrange:#FD971F;
$myPurple:#AE81FF;
$myGrey:#75715E;
$myWhite:#F8F8F2;
$myBlack:#272822;
$Yellow2:rgba(255,231,146,0.8);

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
*{
	font-family: 'Barlow Semi Condensed', sans-serif;
}
.padding{
	height: 70px;
}

.card{
	background-color: rgba(255,255,255,0.8);
}

/////////////////NAV////////////////////////
nav{
	background-color: rgba(255,255,255,0.8);
	.nav-wrapper >a{
		color: $myBlack;
	}
} 
nav ul a{
	color: $myBlack;
}

///////////////HERO/////////////////////////
#hero-box{
	margin: auto;
	width: 70%;	
	h4{
		color: $myBlack;
		// text-shadow: 0px .5px .5px rgba(0, 0, 0, 0.6)
	}
}
.profile-img{
	height:160px;
	width:133px;
}


////////////////PROJECTS///////////////////////
#projects{
	margin: auto;
	h2{
		color: $myBlue;
		text-shadow: 0px .5px .5px rgba(0, 0, 0, 0.6)
	}
	h4{
		color: $myPink;
		text-shadow: 0px .5px .5px rgba(0, 0, 0, 0.6)
	}
}
.card, .shoebox{
		width: 330px;
		margin: 32px;
	}

////////////////SKILLS/////////////////////////
.glyph-sample{
	font-size: 60px;
	margin: 10px;
}
.glyph-sample:hover { 
	color: $myYellow;
}
#skills{
	h3{
		color: $myOrange;
	}
}
//////////////////CONTACT/////////////////////////
#contact{
	h3{
		color: white;
	}
}
//////////////////FOOTER///////////////////////////
.page-footer{
	background-color: $myOrange;
}
.contact-icon{
	font-size: 50px; 
	color:white;
	margin: 10px;
}
.contact-icon:hover{
	padding: -1px;
}
.grow{ 
	transition: all .2s ease-in-out; 
}
.grow:hover{
	transform: scale(1.1); 
}
.container{
	margin: 0;
}



